<div class="left-nav">
    <div class="logo d-flex"><h3>Hexa Bank</h3> <i class="fa-solid fa-angle-left"></i></div>
    <div class="username">
        <img src="" alt="">
        <h3>Akmal</h3>
        <i></i>
    </div>
    <div class="menu-div">
        <h4>Menu</h4>
        <ul>
            <li><a href="" class="active"><i class="fa-solid fa-grip"></i> Overview</a></li>
            <li><a href=""><i class="fa-solid fa-list"></i> transection</a></li>
            <li><a href=""><i class="fa-solid fa-chart-simple"></i> Analitycs</a></li>
            <li><a href=""><i class="fa-regular fa-credit-card"></i> cards</a></li>
        </ul>
    </div>
    <div class="menu-div">
        <h4>General</h4>
        <ul>
            <li><a href=""><i class="fa-solid fa-gear"></i> Settings</a></li>
            <li><a href=""><i class="fa-regular fa-circle-question"></i> Help/support</a></li>
            <li><a href=""><i class="fa-regular fa-moon"></i> darkmode</a></li>
        </ul>
    </div>

</div>