<div>
    <div class="top-bar card-view">
        <h2>Overview</h2>
        <input type="search" placeholder="search anything here ..">
        <div>
            <ul class="d-flex">
                <li class="btn-border"><a href=""><i class="fa-regular fa-envelope"></i></a></li>
                <li class="btn-border"><a href=""><i class="fa-regular fa-bell"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="dashboard-inner">
        <div class="dashboard-left">
            <app-first-static-col></app-first-static-col>
        </div>
        <div class="dashboard-right">
            <app-balance-card></app-balance-card>
            <app-grid-graph></app-grid-graph>
            <app-trans-history></app-trans-history>
        </div>
    </div>  
</div>